.add-button {
  display: flex;
  justify-content: center;
}

.waitlist {
  padding-top: 2rem;
}

.is-completed {
  background-color: rgb(168, 168, 168);
  text-decoration: line-through;
  color: gray;
}

.hidden {
  display: none !important;
}
